@import "tailwindcss";

body {
  background-color: rgb(218, 222, 224);
}

#country {
  color:rgb(0, 0, 0);
  font-size:20px;
}

path:hover {
  stroke-width: 1px;
  stroke: rgb(0, 0, 0);
  fill: white;
}

path {
  stroke-width: 0.25px;
  transition: fill 0.1s ease;
}

.map {
  float: right;
}

.container {
  height: 100vh;
}

.card {
  box-shadow: 2px 2px 10px #888888;
  border: 1px;
}

.card:hover .content p{
  transform: scale(1.05);
  transition: all;
  color: rgb(0, 83, 39) !important;
}

.card:hover .content input{
  border-color: black;
  transition: all;
}

.content input {
  accent-color: green;
  fill: 100%;
  height: 25px;
  width: 25px;
}

button:hover {
  transition: all;
  transform: scale(1.02);
}

button {
  border: 1px;
  box-shadow: 2px 2px 10px #888888;
}

/* .v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
} */


.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}